.well {
	display: flex;
	flex-direction: column;
	border-radius: 2px;
}

.well a{
	margin-top: 10px;
	align-self: center;
}

.well h5{
	font-size: 1rem
}

img{
	height: 400px;
	object-fit: cover;
	margin-bottom: 10px;
}